.navbar-brand {
  font-family: "Dancing Script", cursive;
}

body{
  overflow-x: hidden;
}

.navbar {
  z-index: 99;
}

.position-absolute {
  z-index: 99;
}

.btn2 {
  font-weight: 700px;
  padding-left: 60px;
  padding-right: 60px;
}

.row {
  padding-top: 100px;
}

.imges {
  border: 5px solid rgb(213, 197, 56);
  border-radius: 100px;
}

.m1 {
  width: 45% !important;
  margin-right: 30px;
}

.m2 {
  width: 45% !important;
}

.card-img-top {
  background-color: #f1f2f3;
}

.body,
.card-footer {
  background-color: rgb(23, 23, 35);
}

.btn4 {
  margin-left: 550px;
  font-weight: 700px;
  padding-left: 60px;
  padding-right: 60px;
  /* margin-bottom: 600px; */
}

.bt {
  margin-bottom: 140px;
}

.cd {
  background-color: rgb(23, 23, 35);
}

/* --------------Section-5---------- */

.container-fluid {
  background-color: rgb(23, 23, 35);
  height: 1050px;
  margin-bottom: 150px;
}

.im img {
  margin-top: 100px;
}

.txt {
  margin-top: 350px;
  margin-left: 100px;
}

.txt p {
  font-size: 20px;
}

.txt h1 {
  margin-bottom: 15px;
}

.btn5 {
  /* margin-left: 550px; */
  font-weight: 700px;
  padding-left: 60px;
  padding-right: 60px;
}

.form input,
select {
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 20px;
}

.map iframe {
  height: 370px;
  border-radius: 5px;
}

.what {
  margin-top: 140px;
  padding-left: 400px;
}

.m5 p {
  font-size: 20px;
}

.m5 {
  background-color: rgb(23, 23, 35);
}

/* -----------section-8--------- */

.container-fluid-1 {
  background-color: rgb(23, 23, 35);
  height: 600px;
}

.contact {
  width: 33%;
  padding-top: 200px;
}

.la {
  width: 33%;
  padding-top: 200px;
}

.open {
  width: 33%;
  padding-top: 200px;
}

.contact p {
  font-size: 20px;
}

.la p {
  font-size: 20px;
}

.open p {
  font-size: 20px;
}

.im1 img {
  width: 150px;
  border: 8px solid #ffc107;
  border-radius: 100px;
}

.main8 {
  margin-bottom: 50px;
}

.im1 {
  position: relative;
}

.im1::before {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #ffc107;
  z-index: -2;
  content: "";
  left: 50px;
  top: -5px;
  transform: rotate(45deg);
}


/* ---------section-4---------- */

.nav-item{
   padding: 15px;
}

.menu, .navbar-brand, .txt h1, .what, .contact h1, .la h1, .open h1 {
   font-family: 'Dancing script', cursive;
}
